# 02_version_control
./02_version_control/Wenying/Data/
./02_version_control/Shujun/data/

# 04_writing_with_latex
*.aux
*.log
*.gz
*.swp
*.bbl
*.blg
*.bcf
*.fls
*.run.xml
*.fdb_latexmk
*.nav
*.out
*.snm
*.toc

# 06_data_management
**/__pycache__/